<form action="form_postagem" method="POST">
    <p>Título</p>
    <input type="text" class="text" name=titulo>
    <p>Conteúdo: </p>
    <textarea name="conteudo" id="" cols=30 rows=10></textarea>
    <button type="submit"> Cadastrar </button>

</form>